    /* -------------------- CARRUSEL -------------------- */
    .carrusel-wrapper {
        overflow: hidden;
        position: relative;
        width: 100%;
        margin: 40px 0;
    }
    .carrusel-track {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(3, auto); /* 3 filas */
        gap: 20px;
        transition: transform 0.5s ease;
    }

    .videojuego {
        width: 250px;
        height: auto;
        flex-shrink: 0;
    }

    .videojuego img {
        width: 100%;
        height: 450px; /* <-- Ajustado desde los 400px originales */
        object-fit: cover;
        border-radius: 8px;
    }


    .btn-izq,
    .btn-der {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        font-size: 2rem;
        padding: 10px;
        cursor: pointer;
        z-index: 10;
        border-radius: 50%;
    }

    .btn-izq {
        left: 10px;
    }

    .btn-der {
        right: 10px;
    }